#container {
	margin: 0 auto;
	width: 900px;
	background-color: rgb(255,255,255);
}

header img {
	margin: 5px;
}

nav {
	background: rgba(156,177,152,.25);

}

nav a {
	display: inline-block;
	float: right;
	padding: 10px;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	background: rgb(156,177,152);
	color: rgb(0,0,0);

}