
body {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-size: 16px;
}

#container {
	margin: 2% auto;
	max-width: 1200px;
	background-color: rgb(255,255,255);
}

#zoelogo {
	width: 600px;
	display: inline-block;
	margin: 2%;
}

nav {
	background: rgba(156,177,152,.25);
	float: right;

}

nav a {
	display: inline-block;
	float: left;
	padding: 10px;
	font-family: 'Kameron', serif;
	font-size: 1.25em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgb(156,177,152);
	color: rgb(0,0,0);

}

nav a:hover { 
  background-color: rgba(156,177,152,.35);
}

#gallery {
	display: block;
	float: left;
	width: 1200;
	height: 400px;
	margin: 1% auto;
	background: rgb(156, 177, 152);
}

	img {
		display: block;
		margin: 10px, auto;
		width: 300px
		;
	}

	.clearfix:after {
		visibility: hidden;
  		display: block;
  		font-size: 0;
  		content: " ";
  		clear: both;
  		height: 0;
	}
